/* Modo oscuro */
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode header {
  background-color: #444;
}

.dark-mode body {
  background-color: #1a1a1a;
  color: #f2f2f2;
}
  
.dark-mode ul li,
.dark-mode ul li a {
  color: white;
}

.dark-mode ol li,
.dark-mode ol li a {
  color: white;
}


header {
  background-color: #f1f1f1;
  padding: 20px;
}

h1 {
  color: #B695C0;
}

.nav {
  display: flex;
  justify-content: center;
  background-color: #40CFFF;
}

ul {
  display: flex;
  list-style: none;
  padding: 0px;
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white; /* Cambiado a un color contrastante */
  font-weight: bold;
}

a:hover {
  color: #ff0080;
}

img {
  display: flex;
  margin: 0 auto;
  float: center;
}
a img {
  display: flex;
  margin: 0 auto;
  float: right;
}
p {
  font-family: arial;
  font-size: 22px;
  margin: 0 auto;
  padding: 20px 40px;
}

h2{
  text-align: center;
}

.seccion {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  margin-bottom: 10px;
}

.space {
  width: 10px;
  height: 1px; /* Altura opcional para visualización */
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
}
